<h2> Log In </h2>

{{#if errorMessage}}
  <p class="error-message">
    {{ errorMessage }}
  </p>
{{/if}}

<form class="ui form" action="/login" method="post">
  <div class="field">
    <label>Email</label>
    <input type="email" name="email" placeholder="Email">
  </div>
  <div class="field">
    <label>Password</label>
    <input type="password" name="password" placeholder="Password">
  </div>
  <button class="ui button" type="submit">Submit</button>
</form>

<p>
  Don't have an account?
  <a href="/signup">
    Create an account.
  </a>
</p>