<h2> Sign Up </h2>

{{#if errorMessage}}
  <p class="error-message">
    {{ errorMessage }}
  </p>
{{/if}}

{{!-- <form action="/signup" method="post">
  <div>
    <input type="text" name="name" id="name-input"
      placeholder="Username">
  </div>

  <div>
    <input type="email" name="email" id="email-input"
      placeholder="Email">
  </div>

  <div>
    <input type="password" name="password" id="password-input"
      placeholder="Password">
  </div>

  <button> Create New Account </button>
</form> --}}

<form class="ui form" action="/signup" method="post">
  <div class="field">
    <label>First Name</label>
    <input type="text" name="firstName" placeholder="First Name">
  </div>
  <div class="field">
    <label>Last Name</label>
    <input type="text" name="lastName" placeholder="Last Name">
  </div>
  <div class="field">
    <label>Email</label>
    <input type="email" name="email" placeholder="Email">
  </div>
  <div class="field">
    <label>Phone Number(optional)</label>
    <input type="tel" name="phoneNumber" placeholder="Phone Number(optional)">
  </div>
  <div class="field">
    <label>Password</label>
    <input type="password" name="password" placeholder="Password">
  </div>
  <button class="ui button" type="submit">Create New Account</button>
</form>

<p>
  Already have an account?
  <a href="/login">
    Log in.
  </a>
</p>
