<!-- views/index.hbs -->
{{user.name}}

{{#if user }}
  <p> Hello, {{ user.name }}. </p>
 
{{!-- Home page if NOT LOGGED IN --}}
{{else}}
<nav>
  <ul>
      <li> <a href="/signup"> Sign Up </a> </li>
      <li> <a href="/login"> Log In </a> </li>
    {{/if}}
  </ul>
</nav>

