<!-- views/index.hbs -->
{{#if isUserLoggedIn }}
  <p> Hello, {{ currentUserInfo.name }}. </p>
{{/if}}

<nav>
  <ul>
    {{#if isUserLoggedIn }}

     













    {{!-- Home page if NOT LOGGED IN --}}
    {{else}}
      <li> <a href="/signup"> Sign Up </a> </li>
      <li> <a href="/login"> Log In </a> </li>
    {{/if}}
  </ul>
</nav>