<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    {{!-- Leaflet --}}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>
    {{!-- Semantic UI --}}
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css'>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{!-- Axious --}}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h1>@chu</h1>
    {{#if user }}
    <nav>
      <div class="ui secondary menu">
        <a href="/profile/" class="item">
          Home
        </a>
        <a href="/profile/" class="item">
          Profile
        </a>
        <a href="/logout" class="ui item">
          Logout
        </a>

    <div class="ui right secondary menu">
      <a class="ui item" id="create-nav">
        
        Create Post
        
      </a>
      <a id="posts-nav" class="ui item">
        
        View Posts
        
      </a>
    </div>



      </div>
    
    </div>
  </nav>
  {{else}}
  <nav>
    <div class="ui secondary  menu">
      <a href="/" class="item">
        Home
      </a>
      <a href="/login" class="item">
        Log In
      </a>
      <a href="/signup" class="item">
        Sign Up
      </a>
  </div>
</nav>
{{/if}}


    {{{body}}}

    <footer>
      {{!-- Jquery --}}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

      {{!-- Semantic UI --}}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>

      {{!-- Leaflet --}}
      <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
      integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
      crossorigin=""></script>
      
      {{!-- Google Maps for Geocoder --}}
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2bBVh8enWaREIqSaUHNfpLr8wsfYqoRk&callback=initMap">
      </script>
    



      {{!-- Custom JS --}}
      <script src='/javascripts/script.js'></script>
    </footer>
  </body>
</html>
