body {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

// a {
//   color: #00B7FF;
// }

#mapid { 
  position: absolute;
  height: 100%; 
  width: 100%;
  z-index: 0;
}

.delete-link a {
  color: #db2828;
}

.edit-link a {
  color: #21ba45;
}

.cards {
  position: absolute;
  bottom: 0;
  margin: 20px;
  height: 20%;
  // margin-bottom: 80%;
  // display: none;
  display: flex;

}

#postForm {
  padding: 20px;
  margin: 20px;
  width: 60%;
  // text-align: center;
  bottom: 170px;
  position:absolute;
  
}

#edit-form {
  padding: 20px;
  margin: 20px;
  width: 60%;
  // text-align: center;
  bottom: 0;
  
}

#hide-create {
  display: none;
}

#hide-posts {
  display: none;
}

// .flex-container {
//   display:
// }

// //This MF isn't even working
// .style-card {
//   margin: 20px;
// }

// //Mapbox GeoCoder
// .geocoder {
//   position:absolute;
//   z-index:1;
//   width:50%;
//   left:50%;
//   margin-left:-25%;
//   top:20px;
// }
// .mapboxgl-ctrl-geocoder { min-width:100%; }

